@(form: Form[org.iatoki.judgels.michael.forms.AWSEC2WatcherConfForm], target: play.api.mvc.Call, submitLabel: String)
@import com.amazonaws.regions.Regions

@import play.i18n.Messages
@import org.iatoki.judgels.play.views.html.formErrorView

@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-md-2", "col-md-10") }

@formErrorView(form)

@b3.form(target) {

    @helper.CSRF.formField

    @b3.checkbox(form("useKeyCredential"), '_label -> Messages.get("machine.watcher.awsEC2.useKeyCredential"))
    @b3.text(form("accessKey"), '_label -> Messages.get("machine.watcher.awsEC2.accessKey"))
    @b3.text(form("secretKey"), '_label -> Messages.get("machine.watcher.awsEC2.secretKey"))
    @b3.select(form("regionId"), Regions.values.map(e => (e.name() -> e.name())).toSeq, '_label -> Messages.get("machine.watcher.awsEC2.regionId"), 'class -> "form-control selectpicker")

    @b3.submit('class -> "btn btn-primary") { @submitLabel }
}
