@import play.i18n.Messages
@import org.iatoki.judgels.michael.controllers.routes
@import org.iatoki.judgels.michael.MachineWatcherType

@(machineId: Long, enabledWatchers: List[MachineWatcherType], unenabledWatchers: List[MachineWatcherType])

<h3>@Messages.get("machine.watcher.active")</h3>
@for(enabledWatcher <- enabledWatchers) {
    <div class="well clearfix">
        @enabledWatcher.name()
        <div class="pull-right">
            <a href="@routes.MachineWatcherController.updateMachineWatcher(machineId, enabledWatcher.name())" class="btn btn-primary">@Messages.get("machine.watcher.update")</a>
            <a href="@routes.MachineWatcherController.deactivateMachineWatcher(machineId, enabledWatcher.name())" class="btn btn-primary">@Messages.get("machine.watcher.deactivate")</a>
        </div>
    </div>
}

<h3>@Messages.get("machine.watcher.inactive")</h3>
@for(unenabledWatcher <- unenabledWatchers) {
    <div class="well clearfix">
        @unenabledWatcher.name()
        <div class="pull-right">
            <a href="@routes.MachineWatcherController.activateMachineWatcher(machineId, unenabledWatcher.name())" class="btn btn-primary">@Messages.get("machine.watcher.activate")</a>
        </div>
    </div>
}
