@import play.i18n.Messages
@import play.api.mvc.Call
@import org.iatoki.judgels.play.views.html.formErrorView
@import org.iatoki.judgels.michael.OperationExecTerminationType
@import org.iatoki.judgels.michael.forms.OperationOneMachineExecConfForm

@(operationOneMachineExecConfForm: Form[OperationOneMachineExecConfForm], target: Call, submitLabel: String)

@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-md-2", "col-md-10") }

@formErrorView(operationOneMachineExecConfForm)

@b3.form(target) {

    @helper.CSRF.formField

    @b3.text(operationOneMachineExecConfForm("name"), '_label -> Messages.get("operation.name"))
    @b3.textarea(operationOneMachineExecConfForm("command"), '_label -> Messages.get("operation.singleMachine.command"))
    @b3.select(operationOneMachineExecConfForm("terminationType"), OperationExecTerminationType.values.map(e => (e.name() -> e.name())).toSeq, '_label -> Messages.get("operation.termination.type"), 'class -> "form-control selectpicker")
    @b3.text(operationOneMachineExecConfForm("terminationValue"), '_label -> Messages.get("operation.termination.value"))

    @b3.submit('class -> "btn btn-primary") { @submitLabel }
}
