@import play.i18n.Messages
@import play.api.mvc.Call
@import org.iatoki.judgels.play.views.html.formErrorView
@import org.iatoki.judgels.michael.Application
@import org.iatoki.judgels.michael.Machine
@import org.iatoki.judgels.michael.forms.OperationTwoMachineCopyForm
@import org.iatoki.judgels.michael.controllers.apis.routes

@(operationTwoMachineCopyForm: Form[OperationTwoMachineCopyForm], target: Call, submitLabel: String, machines: List[Machine], applications: List[Application])

@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-md-2", "col-md-10") }

@formErrorView(operationTwoMachineCopyForm)

@b3.form(target) {

    @helper.CSRF.formField

    @b3.select(operationTwoMachineCopyForm("machineJid1"), machines.map(m => (m.getJid -> m.getDisplayName)).toSeq, '_label -> Messages.get("operation.copy.machine1"), 'class -> "form-control selectpicker")
    @b3.select(operationTwoMachineCopyForm("accessId1"), Seq(), '_label -> Messages.get("operation.copy.access1"), 'class -> "selectpicker access_autocomplete", 'machineRef -> "machineJid1")
    @b3.select(operationTwoMachineCopyForm("machineJid2"), machines.map(m => (m.getJid -> m.getDisplayName)).toSeq, '_label -> Messages.get("operation.copy.machine2"), 'class -> "form-control selectpicker")
    @b3.select(operationTwoMachineCopyForm("accessId2"), Seq(), '_label -> Messages.get("operation.copy.access1"), 'class -> "selectpicker access_autocomplete", 'machineRef -> "machineJid2")
    @b3.select(operationTwoMachineCopyForm("applicationJid"), applications.map(a => (a.getJid -> a.getName)).toSeq, '_label -> Messages.get("operation.copy.application"), 'class -> "form-control selectpicker")
    @b3.select(operationTwoMachineCopyForm("versionId"), Seq(), '_label -> Messages.get("operation.copy.version"), 'class -> "selectpicker version_autocomplete", 'applicationRef -> "applicationJid")

    <script type="text/javascript">
        var accessListURL = "@routes.MachineAccessAPIController.accessList()";
        var versionListURL = "@routes.ApplicationVersionAPIController.versionList()";
    </script>
    <script type="text/javascript" src="@controllers.routes.Assets.versioned("javascripts/machineAccess.js")"></script>
    <script type="text/javascript" src="@controllers.routes.Assets.versioned("javascripts/applicationVersion.js")"></script>

    @b3.submit('class -> "btn btn-primary") { @submitLabel }
}
