@(form: Form[org.iatoki.judgels.michael.controllers.forms.OperationTwoMachineCopyConfForm], target: play.api.mvc.Call, submitLabel: String)

@import play.i18n.Messages
@import org.iatoki.judgels.commons.views.html.formErrorView

@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-md-2", "col-md-10") }

@formErrorView(form)

@b3.form(target) {

    @helper.CSRF.formField

    @b3.text(form("name"), '_label -> Messages.get("operation.name"))
    @b3.text(form("sourceFile"), '_label -> Messages.get("operation.copy.sourceFile"))
    @b3.text(form("targetFile"), '_label -> Messages.get("operation.copy.targetFile"))

    @b3.submit('class -> "btn btn-primary") { @submitLabel }
}


