@(machineId: Long, form: Form[org.iatoki.judgels.michael.MachineAccessCreateForm])

@import org.iatoki.judgels.michael.MachineAccessTypes
@import play.i18n.Messages

@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-md-2", "col-md-10") }

@b3.form(org.iatoki.judgels.michael.controllers.routes.MachineAccessController.createDefinedMachineAccess(machineId, null)) {

    @b3.select(form("machineAccessType"), MachineAccessTypes.values.map(e => (e.name() -> e.name())).toSeq, '_label -> Messages.get("machine.access.type"), 'class -> "form-control selectpicker")

    @b3.submit('class -> "btn btn-primary") { @Messages.get("commons.create") }
}
