@(form: Form[org.iatoki.judgels.michael.OperationCreateForm])

@import org.iatoki.judgels.michael.OperationTypes
@import play.i18n.Messages

@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-md-2", "col-md-10") }

@b3.form(org.iatoki.judgels.michael.controllers.routes.OperationController.createDefinedOperation(null)) {

    @b3.select(form("operationType"), OperationTypes.values.map(e => (e.name() -> e.name())).toSeq, '_label -> Messages.get("operation.type"), 'class -> "form-control selectpicker")

    @b3.submit('class -> "btn btn-primary") { @Messages.get("commons.create") }
}
