@(form: Form[org.iatoki.judgels.michael.OperationOneMachineExecForm], target: play.api.mvc.Call, submitLabel: String, machines: List[org.iatoki.judgels.michael.Machine], applications: List[org.iatoki.judgels.michael.Application])

@import play.i18n.Messages
@import org.iatoki.judgels.commons.views.html.formErrorView

@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-md-2", "col-md-10") }

@formErrorView(form)

@b3.form(target) {

    @helper.CSRF.formField

    @b3.select(form("machineJid"), machines.map(m => (m.getJid -> m.getDisplayName)).toSeq, '_label -> Messages.get("operation.singleMachine.machine"), 'class -> "form-control selectpicker")
    @b3.select(form("accessId"), Seq(), '_label -> Messages.get("operation.singleMachine.access"), 'class -> "selectpicker access_autocomplete", 'machineRef -> "machineJid")

    <script type="text/javascript">
        var accessListURL = "@org.iatoki.judgels.michael.controllers.apis.routes.MachineAccessAPIController.accessList()";
    </script>
    <script type="text/javascript" src="@controllers.routes.Assets.versioned("javascripts/machineAccess.js")"></script>

    @b3.submit('class -> "btn btn-primary") { @submitLabel }
}
