@import play.i18n.Messages
@import play.api.mvc.Call
@import org.iatoki.judgels.play.views.html.formErrorView
@import org.iatoki.judgels.michael.forms.MachineAccessKeyConfForm

@(machineAccessKeyConfForm: Form[MachineAccessKeyConfForm], target: Call, submitLabel: String)

@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-md-2", "col-md-10") }

@formErrorView(machineAccessKeyConfForm)

@b3.form(target) {

    @helper.CSRF.formField

    @b3.text(machineAccessKeyConfForm("name"), '_label -> Messages.get("machine.access.name"))
    @b3.text(machineAccessKeyConfForm("username"), '_label -> Messages.get("machine.access.username"))
    @b3.textarea(machineAccessKeyConfForm("key"), '_label -> Messages.get("machine.access.key.key"))
    @b3.number(machineAccessKeyConfForm("port"), '_label -> Messages.get("machine.access.port"))

    @b3.submit('class -> "btn btn-primary") { @submitLabel }
}
