@import play.i18n.Messages
@import play.api.mvc.Call
@import org.iatoki.judgels.play.views.html.formErrorView
@import org.iatoki.judgels.michael.forms.MachineAccessPasswordConfForm

@(machineAccessPasswordConfForm: Form[MachineAccessPasswordConfForm], target: Call, submitLabel: String)

@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-md-2", "col-md-10") }

@formErrorView(machineAccessPasswordConfForm)

@b3.form(target) {

    @helper.CSRF.formField

    @b3.text(machineAccessPasswordConfForm("name"), '_label -> Messages.get("machine.access.name"))
    @b3.text(machineAccessPasswordConfForm("username"), '_label -> Messages.get("machine.access.username"))
    @b3.text(machineAccessPasswordConfForm("password"), '_label -> Messages.get("machine.access.password.password"))
    @b3.number(machineAccessPasswordConfForm("port"), '_label -> Messages.get("machine.access.port"))

    @b3.submit('class -> "btn btn-primary") { @submitLabel }
}
