@(form: Form[org.iatoki.judgels.michael.controllers.forms.MachineAccessPasswordConfForm], target: play.api.mvc.Call, submitLabel: String)

@import play.i18n.Messages
@import org.iatoki.judgels.commons.views.html.formErrorView

@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-md-2", "col-md-10") }

@formErrorView(form)

@b3.form(target) {

    @helper.CSRF.formField

    @b3.text(form("name"), '_label -> Messages.get("machine.access.name"))
    @b3.text(form("username"), '_label -> Messages.get("machine.access.username"))
    @b3.text(form("password"), '_label -> Messages.get("machine.access.password.password"))
    @b3.number(form("port"), '_label -> Messages.get("machine.access.port"))

    @b3.submit('class -> "btn btn-primary") { @submitLabel }
}
